:root {
  --text-color: #011549;
  --purple: #8d34ff;
  --blue: #86e2ff;
  --green: #a2f4d7;
  --red: #ff9586;
  --bg: #ffffff;
  --dashboard-bg: #f5f5f5;
  --dashboard-secondary: #e6e6e6;
  --box-shadow: 10px 10px 30px #d9d9d9, -10px -10px 30px #ffffff;

  /** copied from Styles.ts **/
  --dark400: #011549;
  --dark300: #022379;
  --dark200: #6D87CD;
  --dark100: #D7E2FE;
  --purple100: #F5F1FF;
  --purple200: #CAB0FF;
  --purple300: #A179F4;
  --purple400: #6E30F2;
  --purpleGradient: linear-gradient(115.8deg, #6e30f2 0%, #86e2ff 100%);
  --red400: #F94F4F;
  --red300: #ec7063;
  --red200: #F5B7B1;
  --red100: #FADBD8;
  --blue: #86E2FF;
  --green: #73FFCD;
  --peach: #FAC698;
  --deepBlue: #5E35FF;
  --faintBorderColor: #EAF5F7;
  --yellow: #FFEB83;
  --orange: #FFAA47;
  --pink: #F67BEA;
  --chartHeight: 250;
  --chartWidth: 400;
  --boxShadow: 10px 10px 30px #d9d9d9, -10px -10px 30px #ffffff;
  --smBoxShadow: 0px 2px 6px rgba(0, 0, 0, 0.25);;
  --xsBoxShadow: rgba(0, 0, 0, 0.03) 0px 2px 0px 0px;
  --defaultPadding: 1rem;
  --defaultMaxWidth: 70rem;
  --defaultBorderRadius: .4rem;
  --defaultBgColor: #f7f7fc;
  --defaultTransitionDuration: 0.2s;
  --softGray: #b8b8d9;
}

* {
  box-sizing: border-box;
}

body,
html,
#root {
  height: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 0.875rem;
  line-height: 1.15rem !important;
}

.home {
  margin-top: 2em;
  padding-bottom: 2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ubuntu", sans-serif;
}
p,
ul,
li,
a,
label,
button,
input,
div {
  font-family: "Lato", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
a,
label,
i,
button {
  color: var(--text-color);
}
p .btn {
  margin: 0.5em 1em;
}
input {
  font-size: 1rem;
}

h1 {
  font-size: 3.375rem !important;
  line-height: 4rem !important;
  font-weight: 700 !important;
  letter-spacing: 0 !important;
}
h2 {
  font-size: 2.625rem !important;
  line-height: 3.125rem !important;
  font-weight: 600 !important;
  letter-spacing: 0 !important;
}
h3 {
  font-size: 2rem !important;
  line-height: 2.5rem !important;
  font-weight: 500 !important;
  letter-spacing: 0 !important;
}
h4 {
  font-size: 1.75rem !important;
  line-height: 2.25rem !important;
  font-weight: 400 !important;
  letter-spacing: 0 !important;
}

h5 {
  font-size: 1.25rem !important;
  line-height: 1.625rem !important;
  font-weight: 600 !important;
  letter-spacing: 0 !important;
}
h6 {
  font-size: 1rem !important;
  line-height: 1.375rem !important;
  font-weight: 700 !important;
  letter-spacing: 0 !important;
}

.absolute__center {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

button.nostyle {
  border: none;
  outline: none;
  background: transparent;
  margin: 0;
  padding: 0;
}

p,
div,
a {
  color: var(--text-color) !important;
}

a:not(.no-hover):hover *,
a:not(.no-hover):hover {
  color: var(--purple) !important;
}

@keyframes fadeIn {
  0% {
    opacity: 0.5;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
  }
}

@keyframes placeholderShimmer {
  0% {
    background-position: -468px 0;
  }
  
  100% {
    background-position: 468px 0; 
  }
}


/* #root .ant-checkbox::after,
#root .ant-checkbox-inner {
  border-color: #eaf5f7;
} */
#root .ant-checkbox-checked .ant-checkbox-inner {
  background-color: var(--blue);
  border-color: #eaf5f7;
}

#root .ant-steps-item-icon,
#root .ant-steps-item-icon * {
  border-color: var(--purple);
  color: var(--purple);
}

#root .ant-steps-item-active .ant-steps-item-icon {
  background: var(--purple);
}

#root .ant-steps-item-active .ant-steps-item-icon .ant-steps-icon {
  color: white;
}

#root
  .ant-steps-item-finish
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-title::after {
  background-color: var(--purple);
}

.ant-dropdown-menu {
  padding: var(--defaultPadding);
  border-radius: var(--defaultBorderRadius) !important;
}